body{
  margin:1px;
}
h1{
  color:blue;
}
h2{
  color:blue;
}
.subscribe-btn{
  background-color: black;
  width:150px;
  height:50px;
  border:none;
  border-width: 1px;
  color:#fff;
  font-size: 18px;
  border-radius: 25px;
}
.is-subscribed{
  background-color: red;
}